.nav {
  border-bottom: 0.05rem solid var(--light-grey);
  padding: 0.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2.2rem;
}

.navList li {
  font-size: 0.9rem;
  color: var(--dark-grey);
  font-weight: 500;
}

.navList li:hover {
  cursor: pointer;
  color: var(--dark-teal);
}
