.paginationItem {
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.active {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

.active:hover {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
}

.inactive {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  box-shadow: inset 0 0 0 0.1rem var(--primary-bg-color);
}

.inactive:hover {
 color: var(--primary-color);
  background-color: var(--primary-bg-color);  
  box-shadow: none;
}