.tagIcon {
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 0.4rem 0.6rem;
  display: inline-flex;
  justify-self: start;
  align-items: center;
  gap: 0.2rem;
}

.tag-green {
  color: var(--primary-bg-color);
  background-color: var(--light-teal);
}

.tag-grey {
  color: var(--dark-grey);
  background-color: var(--light-grey);
}
