.toggleItem {
  height: 90%;
  width: 60%;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.toggleItem p {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  align-self: center;
}

.toggleItem svg {
  height: 1rem;
  width: 1rem;
  margin: 0 0.4rem;
  align-self: center;
}

.active {
  background-color: var(--primary-color);
  color: black;
  border-radius: 0.5rem;
}

.inactive {
  background-color: transparent;
  color: var(--dark-grey);
}
