.hero {
  background-color: var(--light-green);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
}

.heroTextContainer {
  width: 40vw;
  margin-top: 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroTextContainer p {
  margin-top: 2.5rem;
  margin-bottom: 1.6rem;
  color: var(--dark-grey);
  font-size: 1.2rem;
}

.heroText {
  font-size: 2.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.heroSpan {
  color: var(--dark-teal);
}

.actionButtons {
  display: grid;
  grid-template-columns: 12rem 17rem;
  grid-template-rows: 3.4rem;
  gap: 1.6rem;
}

.tagIcon {
  height: 1rem;
  width: 1rem;
  align-self: flex-start;
}

.svgOutlined {
  color: var(--dark-teal);
  margin-right: 0.5rem;
}

.svgFilled {
  color: var(--dark-teal);
  height: 2.7rem;
  width: 2.7rem;
  background-color: var(--light-teal);
  margin-right: 0.5rem;
  padding: 0.4rem;
  border-radius: 50%;
}

.profileDiv {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 1fr;
  gap: 1rem;
  padding: 0.5rem;
}

.circleDiv {
  background-color: var(--light-teal);
  border-radius: 50%;
  padding: 5rem;
  width: 35vw;
  height: 35vw;
  align-self: end;
  justify-self: end;
  position: relative;
}
