.jobHero {
  background: linear-gradient(
    to bottom right,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  padding: 4rem 2rem;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.7fr;
  gap: 2rem;
}

.jobHero h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.jobHero > div {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
  height: 15vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.inputDiv {
  width: 50%;
  position: relative;
}

.inputDiv svg {
  height: 1rem;
  width: 1rem;
  color: var(--dark-grey);
  position: absolute;
  left: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.input {
  width: 100%;
  height: 5.8vh;
  border: 0.67px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  background-color: #fcfcfc;
  position: relative;
}

.input::placeholder {
  color: var(--dark-grey);
}

.select {
  width: 25%;
  border: 1px solid var(--light-grey);
  color: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 0.9rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.select svg {
  color: var(--dark-grey);
}

.dropdown {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20vh;
  background-color: var(--primary-color);
  box-shadow: var(--soft-shadow);
  top: 40%;
  right: 37%;
  z-index: 999;
  position: absolute;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  font-size: 0.9rem;
  padding: 0.2rem;
  cursor: pointer;
}

.dropdown li:first-child {
  color: var(--dark-teal);
  background-color: var(--light-teal);
  border-radius: 0.3rem;
}
.dropdown li:hover {
  color: var(--dark-teal);
  background-color: var(--light-teal);
  border-radius: 0.3rem;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchButton svg {
  height: 0.9rem;
  width: 0.9rem;
}
