.jobHero {
  background: linear-gradient(
    to bottom right,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  padding: 3rem 2rem;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.6fr;
  grid-column: 1 / span 2;
  gap: 2rem;
}

.jobHero h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.jobHero > div {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputDiv {
  width: 50%;
  position: relative;
}

.inputDiv svg {
  height: 1rem;
  width: 1rem;
  color: var(--dark-grey);
  position: absolute;
  left: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.input {
  width: 100%;
  height: 5.8vh;
  border: 0.67px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  background-color: #fcfcfc;
  position: relative;
}

.input::placeholder {
  color: var(--dark-grey);
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchButton svg {
  height: 0.9rem;
  width: 0.9rem;
}
