.ctaCard {
  padding: 1rem;
  border-radius: 2rem;
  border: 0.67px solid var(--transparent-grey);
  box-shadow: var(--light-shadow);
  background: var(--transparent-bg);
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.ctaCard svg {
  color: var(--primary-color);
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  background: var(--transparent-bg);
}

.ctaCard h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
  margin: 0.5rem 1rem;
}

.ctaCard p {
  color: var(--soft-grey);
  font-size: 0.9rem;
  text-align: left;
  font-weight: 400;
  margin: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .ctaCard {
    flex-direction: column;
    width: 80vw;
  }
  .ctaCard button {
    padding: 1rem 1.5rem;
  }
}
