.howItWorks {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
}

.howItWorks p {
  margin-top: 1rem;
  text-align: center;
  color: var(--dark-grey);
}

.headerDiv {
  margin-top: 12rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.stepsDiv {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1.8fr 2fr;
  gap: 2rem;
}

/* Mobile */
@media (max-width: 768px) {
  .stepsDiv {
    margin: 1.5rem 0;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .stepsDiv {
    margin: 1rem 0;
    grid-template-columns: 1fr;
  }
  .howItWorks p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--dark-grey);
  }
}
