.step {
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  box-shadow: var(--light-shadow);
  text-align: center;
  position: relative;
}

.step h4 {
  font-weight: 500;
}

.step p {
  color: var(--dark-grey);
  font-size: 0.9rem;
  margin-top: 1.1rem;
}

.step span {
  color: var(--primary-color);
  background-color: var(--dark-teal);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.8rem;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.step:hover {
  cursor: pointer;
  box-shadow: var(--soft-shadow);
}

.step::after {
  content: " ";
  background-color: var(--light-grey);
  border-radius: 0.5rem;
  height: 0.2rem;
  width: 2rem;
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
}

.step:last-child::after {
  content: none;
}

.step svg {
  margin: 2rem;
  height: 3rem;
  width: 3rem;
  padding: 0.3rem 0.6rem;
  color: var(--dark-teal);
  background-color: var(--light-teal);
  border-radius: 50%;
}

.step:hover svg {
  color: var(--primary-color);
  background-color: var(--dark-teal);
}

@media (max-width: 768px) {
  .step::after {
    content: none;
  }
}
