.jobListing {
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.searchFilterCount {
  display: flex;
  justify-content: space-between;
}

.searchFilterCount p {
  color: var(--dark-grey);
  font-size: 1rem;
}

.searchFilterCount p > strong {
  color: black;
  font-size: 1rem;
}
