.tagIcon {
  height: 0.8rem;
  width: 0.8rem;
}
.jobSummary {
  display: grid;
  grid-template-columns: 1fr 7%;
  box-shadow: var(--soft-shadow);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}
.jobSummary h5 {
  font-size: 1.7rem;
}
.jobSummary div {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}
.share {
  color: var(--primary-bg-color);
  box-shadow: inset 0 0 0 0.1rem var(--primary-bg-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.share svg {
  height: 1rem;
  width: 1rem;
}
.share:hover {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
.organization {
  color: var(--primary-bg-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}
.organization svg {
  height: 1rem;
  width: 1rem;
}
.moreDetails {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.5rem;
}
.moreDetails div {
  color: var(--dark-grey);
  font-size: 0.9rem;
}

.moreDetails div svg {
  height: 0.9rem;
  width: 0.9rem;
}
.detailsCard {
  grid-column: 1 / span 2;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light-teal);
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 0.8rem;
  row-gap: 1.5rem !important;
}
.detailsCard div {
  border-right: solid 1px var(--light-grey);
  display: flex;
  flex-direction: column;
  column-gap: 0.1rem;
}
.detailsCard div:last-child {
  border-right: none;
}
.detailsCard div:first-child span {
  color: var(--primary-bg-color);
}
.detailsCard p {
  font-size: 0.8rem;
  color: var(--dark-grey);
}
.detailsCard span {
  font-size: 1rem;
  font-weight: 500;
}
