.button {
  border-radius: 0.8rem;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.coloredButton {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.coloredButton:hover {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border: 0.1rem solid var(--primary-bg-color);
}

.plainButton {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  box-shadow: 0.2rem 0.1rem 1rem rgba(197, 197, 197, 0.5);
}

.mediumColoredButton {
  padding: 1.1rem;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  align-self: center;
}

.mediumColoredButton:hover {
  background-color: var(--dark-teal);
}

.mediumPlainButton {
  padding: 1.1rem;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  box-shadow: 0.2rem 0.1rem 1rem rgba(197, 197, 197, 0.5);
  align-self: center;
}

.mediumPlainButton:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}
