.footer {
  display: grid;
  grid-template-columns: 20% 20% 1fr;
  gap: 3rem;
  padding: 4rem 2rem 0 2rem;
}

.footerBottom {
  display: flex;
  grid-column: span 3 / -1;
  border-top: 1px solid var(--light-grey);
  justify-content: space-between;
}

.footerBottom p {
  font-size: 0.9rem;
  color: var(--dark-grey);
  margin: 1rem;
}
