.logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-self: start;
}

.appIcon {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.4rem;
  text-align: center;
}

.appName {
  font-size: 1.4rem;
}
