.tag {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: var(--primary-bg-color);
  background-color: var(--light-teal);
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 0.4rem 0.6rem;
  display: flex;
  justify-content: start;
  align-self: flex-start;
  gap: 0.2rem;
}
