.passwordResetContainer {
  background: var(--gradient-auth);
  height: 100vh;
  padding: 3rem 2rem;
}
.authForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 50vw;
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 4rem 6rem;
  background-color: var(--primary-color);
}
.authForm h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
.authForm p {
  color: var(--dark-grey);
  font-size: 0.9rem;
}
.backLink {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--primary-bg-color) !important;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.passwordLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}
.form label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0!;
  text-align: left;
}
.authForm span {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  color: var(--primary-bg-color);
  cursor: pointer;
}
.errMsg {
  color: red !important;
  margin: 0 !important;
}
@media (max-width: 768px) {
  .authForm {
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
  }
}
