.cta {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  background: linear-gradient(
    to bottom right,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  justify-content: center;
  text-align: center;
}

.cta h3 {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.cta p {
  color: var(--soft-grey);
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.ctaCards {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 2rem;
}
