.testimonialCard {
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--light-shadow);
  position: relative;
}

.testimonialCard:hover {
  box-shadow: var(--soft-shadow);
}

.testimonialCard > svg {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.3rem 0.6rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  background-color: var(--dark-teal);
  border-radius: 50%;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: -1.5rem;
  right: 10%;
}

.testimonialCard div:first-of-type {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}
