.select {
  border: 1px solid var(--light-grey);
  color: 1px solid var(--light-grey);
  height: 2.4rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  gap: 1.5rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select svg {
  color: var(--dark-grey);
  height: 1rem;
  width: 1rem;
}

.dropdown {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20vh;
  background-color: var(--primary-color);
  box-shadow: var(--soft-shadow);
  top: 40%;
  right: 37%;
  position: absolute;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  font-size: 0.9rem;
  padding: 0.2rem;
  cursor: pointer;
}

.dropdown li:first-child {
  color: var(--dark-teal);
  background-color: var(--light-teal);
  border-radius: 0.3rem;
}
.dropdown li:hover {
  color: var(--dark-teal);
  background-color: var(--light-teal);
  border-radius: 0.3rem;
}
