.select {
  border: 1px solid var(--light-grey);
  height: 2.6rem;
  width: 12vw;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select svg {
  color: var(--dark-grey);
  height: 1rem;
  width: 1rem;
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  width: 100%;
  height: 8rem;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  box-shadow: var(--soft-shadow);
  z-index: 1000;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  font-size: 0.9rem;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.dropdown li:first-child,
.dropdown li:hover {
  color: var(--dark-teal);
  background-color: var(--light-teal);
}

@media (max-width: 765px) {
  .select {
    width: auto;
  }
}
