.inputDiv {
  position: relative;
  margin-bottom: 0.5rem;
}

.inputDiv svg:first-of-type {
  height: 1rem;
  width: 1rem;
  color: var(--dark-grey);
  position: absolute;
  left: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.inputDiv svg:last-of-type {
  height: 1rem;
  width: 1rem;
  color: var(--dark-grey);
  position: absolute;
  right: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputDiv input {
  width: 100%;
  height: 5.8vh;
  border: 0.67px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  background-color: #fcfcfc;
}

.inputDiv input::placeholder {
  color: var(--dark-grey);
  font-size: 0.8rem;
}
