.jobHero {
  background: linear-gradient(
    to bottom right,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  padding: 3rem 2rem;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.6fr;
  grid-column: 1 / span 2;
  gap: 2rem;
}

.jobHero h3 {
  color: var(--primary-color);
  font-size: 2rem;
}
.jobHero > div {
  background-color: var(--primary-color);
  border-radius: 1rem;
  width: 60vw;
  padding: 1.2rem;
  gap: 0.5rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.searchButton {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem;
}
.searchButton svg {
  height: 0.9rem;
  width: 0.9rem;
}

@media (max-width: 768px) {
  .jobHero {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .jobHero h3 {
    font-size: 1.5rem;
  }
  .jobHero > div {
    width: 80vw;
    height: auto;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
    padding: 1rem;
  }
  .jobHero > div > div {
    width: 100% !important;
  }
  .searchButton {
    width: 100%;
    justify-content: center;
  }
}
