.jobOpening {
  box-shadow: var(--light-shadow);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobOpening:hover {
  box-shadow: var(--soft-shadow);
  border: 1px solid var(--dark-teal);
}

.tagIcon {
  height: 0.8rem;
  width: 0.8rem;
}

.titlePoster {
  width: 80%;
}

.titlePoster p {
  color: var(--dark-grey);
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.5rem;
}

.poster {
  display: flex;
  align-items: end;
  color: var(--dark-grey);
  font-size: 0.9rem;
  gap: 0.5rem;
}

.poster svg {
  height: 20px;
  width: 20px;
  margin: 0.5rem 0;
}
.applyWages {
  text-align: right;
}

.applyWages h5 {
  color: var(--dark-teal);
  font-weight: 600;
}

.applyWages p {
  color: var(--dark-grey);
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

@media (max-width: 450px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .applyWages {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 4rem;
  }
}
